.footer {
    display: flex;
}

.filter {
    display: flex;
    margin: auto 10px;
    list-style-type: none;
}

.itemLeft {
    margin: auto 10px;
}

.clearCompleted {
    margin: auto 10px;
}

.clearCompleted:hover {
    cursor: pointer;
    text-decoration: underline;
}

.filter li.selected {
    border-color: rgba(175, 47, 47, 0.377) !important; 
}

.filter li {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filter li:hover {
    border-color: rgba(175, 47, 47, 0.089);
    cursor: pointer;
}